{% extends 'base.html' %}
<!-- start hero -->
{% block content %}
<!-- start hero -->
<tr>
  <td align="center">
    <table
      border="0"
      cellpadding="0"
      cellspacing="0"
      width="100%"
      style="max-width: 600px"
    >
      <tr>
        <td
          align="left"
          bgcolor="#ffffff"
          style="
            padding: 36px 24px 0;
            font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
            border-top: 3px solid #d4dadf;
          "
        >
          <h2
            style="
              margin: 0;
              font-size: 32px;
              font-weight: 700;
              letter-spacing: -1px;
              line-height: 48px;
            "
          >
            Hello {{usernae}},
          </h2>
        </td>
      </tr>
    </table>
  </td>
</tr>
<!-- end hero -->

<!-- start copy block -->
<tr>
  <td align="center">
    <table
      border="0"
      cellpadding="0"
      cellspacing="0"
      width="100%"
      style="max-width: 600px"
    >
      <!-- start copy -->
      <tr>
        <td
          align="left"
          bgcolor="#ffffff"
          style="
            padding: 24px;
            font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
            font-size: 16px;
            line-height: 24px;
          "
        >
          <p style="margin: 0">

          </p>
        </td>
      </tr>
      <tr>
        <td
          align="left"
          bgcolor="#ffffff"
          style="
            padding: 24px;
            font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
            font-size: 16px;
            line-height: 24px;
          "
        >
          <p style="margin: 0">
            We need to verify your email address. Please use
            the code below to complete the verification process:
          </p>
        </td>
      </tr>
      <tr>
        <td
          align="left"
          bgcolor="#ffffff"
          style="
            padding: 24px;
            font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
            font-size: 16px;
            line-height: 24px;
          "
        >
          <p style="margin: 0">{{verification_code}}</p>
        </td>
      </tr>
      <tr>
        <td
          align="left"
          bgcolor="#ffffff"
          style="
            padding: 24px;
            font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
            font-size: 16px;
            line-height: 24px;
          "
        >
          <p style="margin: 0">
            If you did not sign up for our service, please ignore this email.
          </p>
        </td>
      </tr>
      <!-- end copy -->

      <!-- start copy block (sender) -->
      <tr>
        <td align="center" bgcolor="#f3f2f1">
          <table
            border="0"
            cellpadding="0"
            cellspacing="0"
            width="100%"
            style="max-width: 600px"
          >
            <!-- start copy -->
            <tr>
              <td
                align="left"
                bgcolor="#ffffff"
                style="
                  padding: 24px;
                  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
                  font-size: 16px;
                  line-height: 24px;
                  border-bottom: 3px solid #d4dadf;
                "
              >
                <p style="margin: 0">Regards,<br />The Fundli Team</p>
              </td>
            </tr>
            <!-- end copy -->
          </table>
        </td>
      </tr>
      <!-- end copy block (sender) -->

      <!-- start footer -->
      <tr>
        <td align="center" bgcolor="#f3f2f1">
          <table
            border="0"
            cellpadding="0"
            cellspacing="0"
            width="100%"
            style="max-width: 600px; border-bottom: 1px solid #00000088"
          >
            <!-- start permission -->
            <tr>
              <td
                align="center"
                bgcolor="#f3f2f1"
                style="
                  padding: 24px;
                  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
                  font-size: 14px;
                  line-height: 20px;
                  color: #666;
                "
              >
                <p style="margin: 0">
                  You received this email because signed up for our product. If
                  you didn't initiate this request, you can safely ignore this
                  email.
                </p>
              </td>
            </tr>
            <!-- end permission -->
          </table>
        </td>
      </tr>
      <!-- end footer -->
    </table>
  </td>
</tr>

{% endblock %}
